.container {
  display: flex;
  flex-flow: column;
  margin: 10px 25px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  .btn {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    line-height: 20px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
}
.books-list {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  .book {
    border: 2px solid #e0e0e0;
    background: #fff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px;
    max-width: 275px;
    width: 100%;
    .title,
    .author,
    .count,
    .description {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .title {
      font-size: 20px;
      color: #333;
    }
    .author {
      color: #666;
      font-size: 18px;
    }
    .count {
      color: #888;
      font-size: 16px;
    }
    .description {
      color: #999;
      max-width: 260px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }
    .edit {
      color: #7a7a7a;
      font-weight: 600;
      cursor: pointer;
      border: 1px solid #7a7a7a;
      padding: 5px 10px;
      border-radius: 4px;
    }
  }
}

.error {
  margin: 10px;
  text-align: center;
  h5 {
    font-size: 16px;
  }
}
