<div class="container">
  <div class="actions">
    <a [routerLink]="['/add']">
      <button class="btn">Add a Book</button>
    </a>
    <a [routerLink]="['/search']">
      <button class="btn">Search for a Book</button>
    </a>
  </div>
  <div class="books-list">
    <div class="book">
      <h5 class="title">xyx book asdja jashd </h5>
      <h5 class="author">Abx</h5>
      <h5 class="description">23 Things They Don't Tell You About Capitalism</h5>
    </div>
    <div class="book">
      <h5 class="title">xyx book</h5>
      <h5 class="author">Abx</h5>
      <h5 class="description">23 Things They Don't Tell You About Capitalism They Don't Tell You About Capitalism They
        Don't Tell You About Capitalism They Don't Tell You About Capitalism They Don't Tell You About Capitalism</h5>
    </div>
    <div class="book">
      <h5 class="title">xyx book</h5>
      <h5 class="author">Abx</h5>
      <h5 class="description">23 Things They Don't Tell You About Capitalism</h5>
      <button class="edit" (click)="edit(index)">Edit</button>
    </div>
    <div class="book">
      <h5 class="title">xyx book</h5>
      <h5 class="author">Abx</h5>
      <h5 class="description">23 Things They Don't Tell You About Capitalism</h5>
    </div>
    <div class="book">
      <h5 class="title">xyx book</h5>
      <h5 class="author">Abx</h5>
      <h5 class="description">23 Things They Don't Tell You About Capitalism</h5>
    </div>
    <div class="book">
      <h5 class="title">xyx book</h5>
      <h5 class="author">Abx</h5>
      <h5 class="description">23 Things They Don't Tell You About Capitalism</h5>
    </div>
    <div class="book">
      <h5 class="title">xyx book</h5>
      <h5 class="author">Abx</h5>
      <h5 class="description">23 Things They Don't Tell You About Capitalism</h5>
    </div>
  </div>
