<div class="container">
  <div class="actions">
    <a [routerLink]="['/add']">
      <button class="btn">Add a Book</button>
    </a>
    <a [routerLink]="['/search']">
      <button class="btn">Search for a Book</button>
    </a>
  </div>
  <ng-container *ngIf="(books$ | async)?.length else checkSearch">
    <div class="books-list">
      <div class="book" *ngFor="let book of books$ | async">
        <h5 class="title">{{book.name}}</h5>
        <h5 class="author">{{book.author}}</h5>
        <h5 class="description">{{book.description}}</h5>
      </div>
    </div>
  </ng-container>
  <ng-template #checkSearch>
    <div class="error">
      <h5>
        Books not found
      </h5>
    </div>
  </ng-template>
</div>
