/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
}

body {
  background: #efefef;
}

.container {
  display: flex;
  flex-flow: column;
  margin: 10px 25px;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  .btn {
    width: 100%;
    max-width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
    line-height: 20px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
  }
}
